.bicicletas-bg {
    background-color: var(--cor-11);
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(../../img/dec/top-right.svg) no-repeat top 40px right 20px;

    .bicicletas-imagem {
        display: grid;

        & img { 
            grid-area: 1/1;
        }

        & span {
            background: var(--cor-12);
            padding: 8px 16px 8px 8px;
            display: inline-block;
            grid-area: 1/1;
            place-self: start end;
            margin-top: 20px;
            border-radius: 4px 0 0 4px;
        }
    }
    .bicicletas-conteudo {
        display: grid;
        grid-template-columns: 1fr auto;
        align-content: start;

        & h2, p {
            grid-column: 1/-1;
        }

        & h2 {
            margin-bottom: 20px;

            &::before {
                content: "";
                display: block;
                width: 12px;
                height: 8px;
                background-color: var(--cor-p1);
                margin-bottom: 8px;
            }
        }

        & a {
            place-self: end;
        }

        & ul {
            display: grid;
            gap: 16px;
        }

        & li {
            display: flex;
            align-items: center;
            gap: 8px;

            & img {
                width: 24px;
            }
        }
    }
}

@media (max-width: 800px) {
    .bicicletas-bg {
        background: var(--cor-11);
    }
    
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .bicicletas .bicicletas-conteudo {
        grid-template-columns: 1fr;

        & ul {
            margin-bottom: 32px;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }

        & a {
            place-self: start;
        }
    }
}
@media (max-width: 400px) {
    .bicicletas .bicicletas-conteudo ul {
        grid-template-columns: 1fr;
    }
}
