.header-bg {
    background: var(--cor-12);
    
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }

    .header-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        & a {
            padding: 16px 0;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 0px;
                background: var(--cor-0);
                margin-top: 4px;
                position: absolute;
                transition: 0.3s;
            }

            &:hover::after {
                width: 100%;
            }

            &.ativo::after {
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        .header-menu {
            gap: 20px;
    
            & a{
                background:  var(--cor-11);
                padding: 12px 16px;
                border-radius: 4px;

                &:hover {
                    background-color: var(--cor-10);
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        .header-menu {
            gap: 12px;
            justify-content: center;
    
            & a{
                padding: 8px 12px;
                font-size: 0.875rem;
            }
        }
    }
}
@media (max-width: 460px) {
    .header {
        flex-direction: column;
    }
}