.vantagens-bg {
    background-color: var(--cor-12);
}

.vantagens {
    padding-top: 120px;
    padding-bottom: 120px;

    & h2 {
        margin-bottom: 60px;
    }

    & ul {
        display: grid;
        /* cria um layout responsivo sem precisar fazer vários media queries */
        grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
        gap: 40px 80px;
    }

    & h3, img {
        margin-bottom: 8px;
    }
}

@media (max-width: 800px) {
    .vantagens {
        padding-top: 60px;
        padding-bottom: 60px;

        & h2 {
            margin-bottom: 40px;
        }

        & ul {
            gap: 20px;
        }
    }
}
